{% extends 'articles/base.html' %}
{% load static %}
{% block key %}
  <meta name="keywords" content="about,alinotes,alinotes about,about ali,about ghulam ali,ghulam ali, ghulamali909@gmail.com,ali">
{% endblock %}
{% block desc %}
<meta name="description" content="About mYself.My journey.">
{% endblock %}
{% block content %}

<!-- Posts Section -->
<div class="row py-3">
  <div class="col-lg-9 px-3 ">
    <div class="container py-3 my-2 px-5" >
      <h1 class="mb-4 text-uppercase pb_letter-spacing-2">About Ali Notes</h1>
      <p>
        <p class="text-bold">With the name of Allah and the most merciful.</p>
       My name is Ghulam Ali and I’m a career web developer My job is to provide seekers with the best advise and best solution to their problem. I started my schooling from Bilal public-school Bahawalnagar. Bahawalnagar is my hometown the place where I born, where I grew up. Bahawalnagar is very beautiful city. A person from Bahawalnagar settle wherever in the world hi never forget his hometown. After my early schooling I went to Comprehensive high school Bahawalnagar.
     </p>
     <p>
        From where I did my matriculation. In these two years I learn many things. I experience new phase of life. At that time my passion was computers and machines. But my family forces me to study biology and become a doctor. Although I hates mathematics too, So I choose biology. After matriculation I get admission in Government college Bahawalnagar. Again, I go with biology and started my pre-medical. After 7 to 8 months I recognize that I’m not able to sit in exams. I did not give exams that year. Next year I completed my 1st year and after 1 year my Fsc is completed. But unfortunately, I can’t not get admission in Medical college. From an early age I’ve always deeply interested in computing. It was my brother, introducing me to the computer at his work place that first sparked this interest, I can always remember the feeling of wanting to know just how computers worked, why they work and what else they can do. Now it’s the time to fulfill My dream.
      </p>
      <p>
        I applied for BsCS and got admission in The Islamia University of Bahawalpur. In starting in was difficult for me because I hate mathematics, but with the passage of time things become easier. I start working on my passion, “Programming”. During this period, I made two more friends soon they become closest friends. In my 1st summer vocation, I join Allied Bitz technologies, there I started web development. I’m working in python Django, and many other programming like php Laravel…etc. During my university life I learn how to live. Many ups and down come in my life. But I only focused on my goal.
      The world of computers is growing at an un-recordable rate every day, computers are the most influential tools in our lives, they are our present and future. In my opinion nothing on the planet can measure the exponential growth and excitement in the computing industry, and industry which I want to be a part of, particularly Software Engineering.

      </p>
    </div>
  </div>
<!-- Side Section -->
  <div class="col-lg-3 side">
    {% include 'articles/parts/side-section.html' %}
  </div>
</div>

{% endblock %}
