{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0 text-dark">All Articles Published</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="container bg-white">
        <div class="table-responsive-md">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Auther</th>
                <th scope="col">Description</th>
                <th scope="col">Slug</th>
                <th scope="col">Image</th>
                <th scope="col" colspan="2">Action</th>
              </tr>
            </thead>
            <tbody id = "user-table">
              {% include 'dashboard/article-parts/article-show.html' %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal -->
  <div class="modal fade" id="modal-user" tabindex="-1" role="dialog" aria-labelledby="modal-user" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

      </div>
    </div>
  </div>

{% block JavaScript %}
  <script src="{% static 'js/tinymceDemands.js' %}"></script>
{% endblock %}

{% endblock %}
