{% extends 'dashboard/base.html' %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0 text-dark">Messages</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="container">
        <div class="table-responsive-md">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Message</th>
              </tr>
            </thead>
            <tbody id = "user-table">
              {% if messages %}
              {% for m in messages %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{m.messages_name}}</td>
                <td>{{m.messages_email}}</td>
                <td>{{m.messages_content}}</td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="4">Not data to show</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>





{% endblock %}
