{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'index' %}" class="brand-link">
    <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Ali Notes</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{request.user}} </a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a href="{% url 'dashboard-home' %}" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gallery-management' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Gallery
              </p>
            </a>
          </li>
          <li class="nav-item has-tree">
              <a href="{% url 'messages-review' %}" class="nav-link">
                <i class="nav-icon fas fa-envelope"></i>
                <p>
                  Messages
                </p>
              </a>
            </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Authers
              <i class="fas fa-angle-left right"></i>

            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'auther-registration' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Register Authers</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'auther-list' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View Authers</p>
              </a>
            </li>

          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Users
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'user-registration' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Register User</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Articles
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'article-publish' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Publish Article</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'article-list' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View Articles</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
