{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0 text-dark">Register Users</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid px-5">
      <div class="container px-5">
        <form class="my-ajax-form" method="POST"  data-url='{{ request.build_absolute_uri|safe }}' >
          {% csrf_token %}
          <div class="form-row">
            <div class="col-md-6">
              {{form.email | as_crispy_field}}
            </div>
            <div class="col-md-6">
              {{form.username | as_crispy_field}}
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              {{form.password1 | as_crispy_field}}
            </div>
            <div class="col-md-6">
              {{form.password2 | as_crispy_field}}
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <button type="submit" class="btn btn-lg btn-dark">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

{% block JavaScript %}
<script>

  $(document).ready(function(){
    var $myForm = $(".my-ajax-form");
    $myForm.submit(function(event){
      event.preventDefault();
      event.stopImmediatePropagation();
      var $formData = $(this).serialize()
      var $thisURL = $myForm.attr("data-url") || window.location.href

      console.log($formData)
      console.log($thisURL)
      $.ajax({
        method: "POST",
        url: $thisURL,
        data: $formData,
        success: handleFormSuccess,
            error: handleFormError,
      })
      function handleFormSuccess(data, textStatus, jqXHR){
       console.log(data)
       console.log(textStatus)
       console.log(jqXHR)
       $myForm[0].reset(); // reset form data
       $('.alert-success'). addClass('alert'). html('submitted successfully!'). fadeIn().delay(4000).fadeOut()
   }

   function handleFormError(jqXHR, textStatus, errorThrown){
       console.log(jqXHR)
       console.log(textStatus)
       console.log(errorThrown)
        $('.alert-danger'). addClass('alert'). html('submitted successfully!'). fadeIn().delay(4000).fadeOut()
   }
    })
  })
  </script>
{% endblock %}


{% endblock %}
