{% extends 'dashboard/login-page/login-base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="jumbotron my-5 justify-content-center">
  <h1 class="display-4 text-center">Password Reset</h1>
  <p class="lead text-center">Forget Password?Enter your email below and we'll instructions for setting up new password.</p>
  <hr class="my-4">
  <form method="post">
    {% csrf_token %}
    <div class="form-row justify-content-center">
      <div class="col-md-6">
        {{form | crispy}}
      </div>
    </div>
    <div class="form-row justify-content-center">
      <input class="btn btn-dark" type="Submit" name="Send email" value="Send Email">
    </div>
  </form>
</div>

{% endblock %}
